.About {
    padding: 0 125px;
    font-family: GilroyLight, sans-serif;
}

.About_title {
    text-align: center;
    margin: 30px 0;
    font-style: italic;
}

.About_flex {
    /* border: 1px solid red; */
    display: flex;
    height: 500px;
    width: 100%;
}

.About_left {
    width: 50%;
}

.About_right {
    width: 50%;
}

.About_flex_media {
    display: none;
}

@media (max-width:400px) {
    .About {
        padding: 0 20px;
    }

    .About_flex {
        display: none;
        /* height: 100%; */
    }

    .About_flex_media {
        display: block;
    }

    .About_left {
        width: 100%;
    }

    .About_right {
        width: 100%;
        display: block;
    }
}