.Navbar {
    padding: 24px 0;
}

.links {
    padding: 0 125px;
    display: flex;
    justify-content: space-between;
}

.links a {
    text-decoration: none;
    color: #232323;
    font-family: GilroyMedium, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.menu_btn {
    display: none;
}

@media (max-width: 391px) {
    .Navbar {
        padding: 5px 25px;
    }

    .links {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        /* border: 1px solid red; */
        /* display: none; */
    }

    .links a {
        padding: 7px 5px;
        /* border: 1px solid red; */

    }

    /* .menu_btn {
        display: block;
    } */
}